.App {
  
}
.containers{
  display:flex;
  justify-content: flex-start ;
  
 
}
.item1{
  width: 355px;
  height: 530px;
  border: 1px solid grey;
  box-shadow: 2px 3px 2px 3px rosybrown;
  padding: 30px;
  margin: 20px;
  overflow: auto;
}
.item2{
  width:  210mm ;
  /* height: 530px; */
  border: 1px solid grey;
  box-shadow: 2px 3px 2px 3px rosybrown;
  padding: 30px;
  margin: 20px;
  
}
@media screen {
  /* p.bodyText {font-family:verdana, arial, sans-serif;} */
  .item2{
    width:  210mm ;
  /* height: 530px; */
  border: 1px solid grey;
  box-shadow: 2px 3px 2px 3px rosybrown;
  padding: 30px;
  margin: 20px;
  }
}

@media print {
  .item2{
    width:  285mm ;
    /* height: 530px; */
    border: 1px solid grey;
    box-shadow: 2px 3px 2px 3px rosybrown;
    padding: 30px;
    margin: 20px;
    font-size:x-large;
  }
}
@media screen, print {
  /* .item2{
    background-color: blueviolet;
  } */
}